.cartContainer {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bold;
    padding-left: 5rem;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.btnProducts {
    text-decoration: none;
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background-color: #67b967;
    border-radius: 10px;
    border-style: none;
    color: lightgray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.438);
    transition: all 0.5s;
    width: auto;
}

.btnProducts:hover  {
    background-color: lightgray;
    color: white;
    box-shadow: none;
    transform: scale(110%);
}

.btnCart {
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #67b967;
    border-radius: 10px;
    border-style: none;
    color: lightgray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.438);
    transition: all 0.5s;
}

.btnCart:hover  {
    background-color: lightgray;
    color: white;
    box-shadow: none;
    transform: scale(110%);
}

.itemCart {
    margin: 1rem 0;
    padding: 0.5rem;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    align-items: center;
}

.imgCart {
    width: 20rem;
}

.cartContent {
    display: flex;
    justify-content: center;
}

.purchase {
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
}
