.navProp {
    padding-left: 2rem;
    background-image: linear-gradient(to top, white, #aa79b3);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    max-width: 100%;
}

.logo {
    width: 15rem;
    transition: all 0.2s;
}

.logo:hover {
    transform: scale(110%);
}

.list {
    font-family: 'Poppins', sans-serif;
    margin-right: 3rem;
    align-items: center;
}

.btnNav {
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    width: auto;
    background-color: #67b967;
    border-radius: 10px;
    border-style: none;
    color: lightgray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.438);
    transition: all 0.5s;

}

.btnNav:hover {
    background-color: lightgray;
    color: white;
    box-shadow: none;
    transform: scale(110%);
}
