.buyCard {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.counter {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: transparent;
}

.buttons {
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.addToCart:hover {
    background-color: lightgray;
    color: white;
    box-shadow: none;
    transform: scale(110%);
}